[submodule "libstage"]
	path = libstage
	url = https://git.pengaru.com/git/libstage
[submodule "libplay"]
	path = libplay
	url = https://git.pengaru.com/git/libplay
[submodule "libix2"]
	path = libix2
	url = https://git.pengaru.com/git/libix2
[submodule "libansr"]
	path = libansr
	url = https://git.pengaru.com/git/libansr
