[submodule "libstage"]
	path = libstage
	url = git://git.pengaru.com/libstage
[submodule "libplay"]
	path = libplay
	url = git://git.pengaru.com/libplay
[submodule "libix2"]
	path = libix2
	url = git://git.pengaru.com/libix2
[submodule "libansr"]
	path = libansr
	url = git://git.pengaru.com/libansr
